*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;

  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 50%;
  height: 50%;
  background-color: white;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 0 8px 8px #c9c9c9;
}

.title {
  margin: 1rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content__row-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.content__input,
.content__output {
  width: 66.66%;
}

.content__column-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content__button {
  font-family: inherit;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  outline: none;
  border: 1px solid #000000;
  background-color: white;
  border-radius: 4px;
}

.content__button:hover {
  background-color: #f2f2f2;
}

.content__button:active {
  background-color: #e3e3e3;
}

.content__button:nth-child(3) {
  margin: 1rem 0;
}

.content__label {
  font-size: 0.85rem;
  color: #7d7d7d;
}

.content__output {
  font-family: inherit;
}

.content__option {
  padding: 0 0 0 0.4rem;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }

  .content {
    gap: 0.5rem;
  }

  .content__row-wrapper {
    display: block;
  }

  .content__input,
  .content__output {
    width: 100%;
  }

  .content__output {
    min-height: 30vh;
  }

  .content__button {
    padding: 0.5rem 0;
  }

  .content__button:nth-child(3) {
    margin: 0.3rem 0;
  }

  menu {
    margin-top: 0.4rem;
  }
}
